/* Front-end CSS */
/* Base */
a {
  color: inherit;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover, a:active, a:focus {
  color: #e11a12;
}

form p {
  font-size: 1em;
  margin-bottom: 1rem;
}
form label {
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
form span {
  color: inherit !important;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=file],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 2px solid #ffffff;
  border-radius: 0;
  background: transparent;
  background-clip: padding-box;
  color: white;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 2em;
  height: 2em;
}

input[type=file] {
  padding: 0;
}

input[type=submit] {
  display: block;
  margin-left: auto;
}

input[type=file]::-webkit-file-upload-button,
input[type=submit] {
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 0;
  color: #1a4723;
  background: #ffffff;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=file]::-webkit-file-upload-button:hover, input[type=file]::-webkit-file-upload-button:active, input[type=file]::-webkit-file-upload-button:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
  background-color: #e6e6e6;
}

textarea {
  min-height: 130px;
}

select {
  width: 100%;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #ffffff;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

/* Layout */
#header {
  position: relative;
}
#header .header-inner {
  display: flex;
  min-height: 230px;
  background: center center no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  #header .header-inner {
    min-height: 430px;
  }
}
#header .header-inner .container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
#header .header-inner .header-title {
  padding: 0 15px;
  font-size: 32px;
  text-align: right;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  #header .header-inner .header-title {
    font-size: 40px;
  }
}

.footer {
  color: #ffffff;
  background-color: #ef3e37;
}

.footer-widgets {
  padding: 30px 0;
}
.footer-widgets .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-widgets .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: flex-start;
  }
  .footer-widgets .container .widget-column:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .footer-widgets .container .widget-column:nth-child(even) .gallery {
    justify-content: flex-end;
  }
}
.footer-widgets .widget {
  padding: 15px 0;
}
.footer-widgets .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.footer-widgets .gallery .gallery-item {
  width: auto !important;
}
@media (min-width: 768px) {
  .footer-widgets .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-widgets .gallery .gallery-item {
    margin: 15px !important;
  }
}

.footer-copyright {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ee352e;
}
.footer-copyright a {
  font-weight: bold;
}
.footer-copyright a:hover, .footer-copyright a:active, .footer-copyright a:focus {
  text-decoration: underline;
  color: inherit;
}
.footer-copyright .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
@media (min-width: 768px) {
  .footer-copyright .container {
    justify-content: space-between;
  }
}

.footer-menu {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .footer-menu {
    display: flex;
  }
}
.footer-menu .menu-item:not(:first-child) {
  padding-left: 16px;
}

/* Components */
.topbar {
  display: none;
  position: absolute;
  top: 15px;
  width: 100%;
  color: #1a4723;
  z-index: 1080;
}
@media (min-width: 992px) {
  .topbar {
    display: block;
  }
}

.topbar-menu-wrap {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.topbar-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.topbar-menu .menu-item:not(:first-child) {
  padding-left: 16px;
}
.topbar-menu .menu-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-menu .menu-item i {
  margin: 0 8px;
  font-size: 24px;
  color: #ef3e37;
}

.dropdown-style, .navbar-nav .dropdown-menu, .navbar-collapse {
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #1a4723;
}
.dropdown-style::before, .navbar-nav .dropdown-menu::before, .navbar-collapse::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background: url("../../images/menu-stripes.png") right -30px no-repeat;
  background-size: contain;
}
.dropdown-style::after, .navbar-nav .dropdown-menu::after, .navbar-collapse::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateY(75%) skewY(-3deg);
  background: #1a4723;
}

.navbar {
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1050;
}
.navbar .container {
  position: relative;
}

.navbar-brand {
  max-width: 120px;
}
@media (min-width: 992px) {
  .navbar-brand {
    max-width: unset;
    z-index: 1060;
  }
}

.navbar-toggler {
  margin-right: 20px;
  border: none;
  z-index: 1080;
}
.navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='486.667' viewBox='0 0 365.717 365' width='486.667' fill='%23f44336' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M356.34 296.348L69.727 9.734c-12.5-12.5-32.766-12.5-45.246 0L9.375 24.816c-12.5 12.504-12.5 32.77 0 45.25L295.988 356.68c12.504 12.5 32.77 12.5 45.25 0l15.082-15.082c12.523-12.48 12.523-32.75.02-45.25zm0 0'/%3E%3Cpath d='M295.988 9.734L9.375 296.348c-12.5 12.5-12.5 32.77 0 45.25l15.082 15.082c12.504 12.5 32.77 12.5 45.25 0L356.34 70.086c12.504-12.5 12.504-32.766 0-45.246L341.258 9.758c-12.5-12.523-32.766-12.523-45.27-.023zm0 0'/%3E%3C/svg%3E");
}
.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 92.833 92.833' fill='%231a4723' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M89.834 1.75H3c-1.654 0-3 1.346-3 3v13.334c0 1.654 1.346 3 3 3h86.833c1.653 0 3-1.346 3-3V4.75c.001-1.654-1.345-3-3-3zm0 35H3c-1.654 0-3 1.346-3 3v13.334c0 1.654 1.346 3 3 3h86.833c1.653 0 3-1.346 3-3V39.75c.001-1.654-1.345-3-3-3zm0 35H3c-1.654 0-3 1.346-3 3v13.334c0 1.654 1.346 3 3 3h86.833c1.653 0 3-1.346 3-3V74.75c.001-1.655-1.345-3-3-3z'/%3E%3C/svg%3E");
}

.navbar-collapse {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 15px;
}
@media (min-width: 768px) {
  .navbar-collapse::after {
    transform: translateY(80%) skewY(-1deg);
  }
}
@media (min-width: 992px) {
  .navbar-collapse {
    position: unset;
    background: unset;
  }
  .navbar-collapse::after {
    content: none;
  }
}

.navbar-nav .nav-item {
  color: #ffffff;
  z-index: 10;
}
.navbar-nav .nav-item.active:hover, .navbar-nav .nav-item.active:active, .navbar-nav .nav-item.active:focus,
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus {
  color: #ffffff;
}
.navbar-nav .dropdown-menu {
  background-color: transparent;
}
.navbar-nav .dropdown-menu::before, .navbar-nav .dropdown-menu::after {
  content: none;
}
.navbar-nav .dropdown-menu .dropdown-item {
  font-weight: inherit;
  color: inherit;
}
.navbar-nav .dropdown-menu .dropdown-item:hover, .navbar-nav .dropdown-menu .dropdown-item:active, .navbar-nav .dropdown-menu .dropdown-item:focus {
  color: inherit;
  background-color: inherit;
}
@media (min-width: 992px) {
  .navbar-nav {
    position: absolute;
    right: 15px;
    bottom: -25%;
  }
  .navbar-nav > .nav-item {
    position: relative;
    width: 140px;
    height: 100px;
    padding: 0 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    word-break: break-word;
    color: #ffffff;
  }
  .navbar-nav > .nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform: translateY(-50%) skewY(-3deg);
  }
  .navbar-nav > .nav-item:nth-child(odd), .navbar-nav > .nav-item:nth-child(odd)::before {
    background-color: #1a4723;
  }
  .navbar-nav > .nav-item:nth-child(even), .navbar-nav > .nav-item:nth-child(even)::before {
    background-color: #ef3e37;
  }
  .navbar-nav > .nav-item .nav-link {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 0 8px 0;
    font-size: 18px;
  }
  .navbar-nav > .nav-item .nav-link.dropdown-toggle::after {
    position: absolute;
    right: 0;
    bottom: 1em;
  }
  .navbar-nav .dropdown-menu {
    padding-top: 15px;
  }
  .navbar-nav .dropdown-menu::before, .navbar-nav .dropdown-menu::after {
    content: "";
    background-color: #1a4723;
    z-index: -1;
  }
}

.recent-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 992px) {
  .recent-posts {
    flex-wrap: nowrap;
    justify-content: unset;
  }
}

.recent-posts-header {
  display: flex;
}
@media (min-width: 992px) {
  .recent-posts-header {
    flex-direction: column;
    flex: 0 0 17%;
    order: 2;
  }
}

.recent-posts-title {
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #ef3e37 !important;
}
@media (min-width: 768px) {
  .recent-posts-title {
    font-size: 8em;
  }
}
@media (min-width: 992px) {
  .recent-posts-title {
    font-size: 11em;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-100%);
    transform-origin: top left;
  }
}

.recent-posts-list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .recent-posts-list {
    flex: 0 0 83%;
  }
}

.sidebar .widget {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.post .entry-header .entry-title {
  text-transform: uppercase;
  color: #ef3e37 !important;
}

.entry-header .post-infos {
  color: #4e5862;
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
  width: 100% !important;
}
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}
.wp-block-cover__inner-container .alignfull,
.entry-header .alignfull,
.entry-content .alignfull {
  max-width: 100%;
}
.wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: 1360px;
  }
}

.search-form .search-field {
  background: transparent;
  border: 2px solid #1a4723;
  border-radius: 0;
}
.search-form .search-field:-webkit-autofill, .search-form .search-field:-webkit-autofill:hover, .search-form .search-field:-webkit-autofill:focus textarea:-webkit-autofill {
  -webkit-text-fill-color: inherit;
}
.search-form .search-submit {
  font-weight: bold;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  color: #ffffff;
  background: #1a4723;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-form .search-submit:hover, .search-form .search-submit:active, .search-form .search-submit:focus {
  background-color: #163c1d;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.widget img {
  max-width: 100%;
  height: auto;
  border: none !important;
}
.widget ul {
  padding: 0;
  padding-inline-start: 1em;
}
.widget li {
  margin-bottom: 12px;
}
.widget .gallery-item {
  margin-top: 8px !important;
  margin-bottom: 8px;
}

.widget-title {
  font-size: 1.4rem;
}

.tagcloud .tag-cloud-link {
  font-size: 1.3em !important;
  font-weight: bold;
  color: #58ba47;
}
.tagcloud .tag-cloud-link:hover, .tagcloud .tag-cloud-link:active, .tagcloud .tag-cloud-link:focus {
  color: #469638;
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.pagination .nav-links {
  font-weight: bold;
  justify-content: center;
  color: #ef3e37;
}
.pagination .nav-links > * {
  padding: 1rem;
}
.pagination .current {
  color: #1a4723;
}

.post-navigation .nav-links {
  justify-content: space-between;
}
@media (min-width: 768px) {
  .post-navigation .nav-links {
    flex-wrap: nowrap;
  }
}
.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  display: flex;
  align-items: center;
}
.post-navigation .nav-previous .post-title,
.post-navigation .nav-next .post-title {
  font-weight: bold;
  color: #ef3e37;
}
.post-navigation .nav-next {
  margin-left: auto;
  text-align: right;
}

.comments {
  margin-top: 15px;
}
.comments .comments-title {
  text-transform: uppercase;
}
.comments .comment-list {
  padding: 0;
}
.comments .comment-list,
.comments .children {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 0;
  background-color: #ffffff;
}
.comments .comment-respond .comment-reply-title {
  text-transform: uppercase;
}
.comments .comment-form label {
  font-weight: bold;
  margin-bottom: 8px;
}
.comments .comment-form input,
.comments .comment-form textarea {
  border: 2px solid #1a4723;
  color: inherit;
}
.comments .comment-form .submit {
  color: #ffffff;
  background-color: #1a4723;
}
.comments .comment-form .submit:hover, .comments .comment-form .submit:active, .comments .comment-form .submit:focus {
  background-color: #163c1d;
}
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1a4723;
}
.comments .comment-reply-link:hover, .comments .comment-reply-link:active, .comments .comment-reply-link:focus {
  background-color: #163c1d;
}
.comments .reply {
  height: auto;
}

/* Templates */
.single main.container {
  display: grid;
  grid-gap: 15px;
}
@media (min-width: 992px) {
  .single main.container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, min(320px));
  }
}
.single .wp-post-image {
  align-self: center;
  justify-self: center;
}
@media (min-width: 992px) {
  .single .wp-post-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
.single .sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}
@media (min-width: 992px) {
  .single .sidebar {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (min-width: 992px) {
  .single article {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .single .post-navigation,
.single .comments {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/*# sourceMappingURL=frontend-styles.css.map */
