// Comentários

.comments {
    margin-top: 15px;

    .comments-title {
        text-transform: uppercase;
    }

    .comment-list {
        padding: 0;
    }

    .comment-list,
    .children {
        list-style: none;
    }

    .comment-body {
        padding: 15px;
        margin-bottom: 1rem;
        border-radius: 0;
        background-color: #ffffff;
    }

    .comment-respond {
        .comment-reply-title {
            text-transform: uppercase;
        }
    }

    .comment-form {
        label {
            font-weight: bold;
            margin-bottom: 8px;
        }

        input,
        textarea {
            border: 2px solid $primary-color;
            color: inherit;
        }

        .submit {
            color: #ffffff;
            background-color: $primary-color;

            &:hover,
            &:active,
            &:focus {
                background-color: darken($primary-color, 3%);
            }
        }
    }

    .comment-reply-link {
        display: inline-block;
        padding: 0.5rem 1.0rem;
        font-weight: bold;
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        color: #ffffff;
        background-color: $primary-color;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($primary-color, 3%);
        }
    }

    .reply {
        height: auto;
    }
}