// Navbar

// Placeholder for style the dropdowns and collapsed
.dropdown-style {
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: $primary-color;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background: url('../../images/menu-stripes.png') right -30px no-repeat;
        background-size: contain;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translateY(75%) skewY(-3deg);
        background: $primary-color;
    }
}

.navbar {
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1050;

    .container {
        position: relative;
    }
}

.navbar-brand {
    max-width: 120px;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        max-width: unset;
        z-index: 1060;
    }
}

.navbar-toggler {
    margin-right: 20px;
    border: none;
    z-index: 1080;

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background: no-repeat center center;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='486.667' viewBox='0 0 365.717 365' width='486.667' fill='%23f44336' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M356.34 296.348L69.727 9.734c-12.5-12.5-32.766-12.5-45.246 0L9.375 24.816c-12.5 12.504-12.5 32.77 0 45.25L295.988 356.68c12.504 12.5 32.77 12.5 45.25 0l15.082-15.082c12.523-12.48 12.523-32.75.02-45.25zm0 0'/%3E%3Cpath d='M295.988 9.734L9.375 296.348c-12.5 12.5-12.5 32.77 0 45.25l15.082 15.082c12.504 12.5 32.77 12.5 45.25 0L356.34 70.086c12.504-12.5 12.504-32.766 0-45.246L341.258 9.758c-12.5-12.523-32.766-12.523-45.27-.023zm0 0'/%3E%3C/svg%3E");
    }

    &.collapsed {
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 92.833 92.833' fill='%231a4723' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M89.834 1.75H3c-1.654 0-3 1.346-3 3v13.334c0 1.654 1.346 3 3 3h86.833c1.653 0 3-1.346 3-3V4.75c.001-1.654-1.345-3-3-3zm0 35H3c-1.654 0-3 1.346-3 3v13.334c0 1.654 1.346 3 3 3h86.833c1.653 0 3-1.346 3-3V39.75c.001-1.654-1.345-3-3-3zm0 35H3c-1.654 0-3 1.346-3 3v13.334c0 1.654 1.346 3 3 3h86.833c1.653 0 3-1.346 3-3V74.75c.001-1.655-1.345-3-3-3z'/%3E%3C/svg%3E");
        }
    }
}

.navbar-collapse {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 15px;
    @extend .dropdown-style;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        &::after {
            transform: translateY(80%) skewY(-1deg);
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        position: unset;
        background: unset;

        &::after {
            content: none;
        }
    }
}

.navbar-nav {
    .nav-item {
        color: #ffffff;
        z-index: 10;

        &.active,
        .nav-link {

            &:hover,
            &:active,
            &:focus {
                color: #ffffff;
            }
        }

        // &:hover,
        // &:active,
        // &:focus {
        //     margin-top: 5px;
        // }
    }

    .dropdown-menu {
        background-color: transparent;
        @extend .dropdown-style;

        &::before,
        &::after {
            content: none;
        }

        .dropdown-item {
            font-weight: inherit;
            color: inherit;

            &:hover,
            &:active,
            &:focus {
                color: inherit;
                background-color: inherit;
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        position: absolute;
        right: 15px;
        bottom: -25%;

        &>.nav-item {
            position: relative;
            width: 140px;
            height: 100px;
            padding: 0 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            word-break: break-word;
            color: #ffffff;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                transform: translateY(-50%) skewY(-3deg);
            }

            &:nth-child(odd),
            &:nth-child(odd)::before {
                background-color: $primary-color;
            }

            &:nth-child(even),
            &:nth-child(even)::before {
                background-color: $secondary-color;
            }

            .nav-link {
                position: relative;
                display: flex;
                align-items: flex-end;
                height: 100%;
                padding: 0 0 8px 0;
                font-size: 18px;

                &.dropdown-toggle {
                    &::after {
                        position: absolute;
                        right: 0;
                        bottom: 1em;
                    }
                }
            }
        }

        .dropdown-menu {
            padding-top: 15px;

            &::before,
            &::after {
                content: "";
                background-color: $primary-color;
                z-index: -1;
            }
        }
    }
}