// Pagination & Post Navigation

.pagination,
.post-navigation {
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}

.pagination {
    .nav-links {
        font-weight: bold;
        justify-content: center;
        color: $secondary-color;

        >* {
            padding: 1rem;
        }
    }

    .prev,
    .next {}

    .current {
        color: $primary-color;
    }
}

.post-navigation {
    .nav-links {
        justify-content: space-between;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }
    }

    .nav-previous,
    .nav-next {
        a {
            display: flex;
            align-items: center;
        }

        .post-title {
            font-weight: bold;
            color: $secondary-color;
        }
    }

    .nav-next {
        margin-left: auto;
        text-align: right;
    }
}