// Recent Posts

.recent-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: unset;
    }
}

.recent-posts-header {
    display: flex;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        flex-direction: column;
        flex: 0 0 17%;
        order: 2;
    }
}

.recent-posts-title {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    color: $secondary-color !important;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        font-size: 8em;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        font-size: 11em;
        white-space: nowrap;
        transform: rotate(-90deg) translate(-100%);
        transform-origin: top left;
    }
}

.recent-posts-list {
    display: flex;
    flex-direction: column;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        flex: 0 0 83%;
    }
}