// Search Form

.search-form {
    .search-field {
        background: transparent;
        border: 2px solid $primary-color;
        border-radius: 0;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus textarea:-webkit-autofill, {
            -webkit-text-fill-color: inherit;
        }
    }

    .search-submit {
        font-weight: bold;
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        color: #ffffff;
        background: $primary-color;
        transition:
            color .15s ease-in-out,
            background-color .15s ease-in-out,
            border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($primary-color, 3%);
        }
    }
}