// Tag Cloud

.tagcloud {
    .tag-cloud-link {
        font-size: 1.3em !important;
        font-weight: bold;
        color: #58ba47;       

        &:hover,
        &:active,
        &:focus {
            color: darken(#58ba47, 10%);
        }
    }
}