// Topbar

.topbar {
    display: none;
    position: absolute;
    top: 15px;
    width: 100%;
    color: $primary-color;
    z-index: 1080;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        display: block;
    }
}

.topbar-menu-wrap {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.topbar-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    .menu-item {
        &:not(:first-child) {
            padding-left: 16px;
        }

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        i {
            margin: 0 8px;
            font-size: 24px;
            color: $secondary-color;
        }
    }
}