form {
    // color: white !important;

    p {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    label {
        margin: 0;
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
    }

    span {
        color: inherit !important;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 2px solid #ffffff;
    border-radius: 0;
    background: transparent;
    background-clip: padding-box;
    color: white;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 2em;
    height: 2em;
}

input[type="file"] {
    padding: 0;
}

input[type="submit"] {
    display: block;
    margin-left: auto;
}

input[type="file"]::-webkit-file-upload-button,
input[type="submit"] {
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    border-radius: 0;
    color: $primary-color;
    background: #ffffff;
    box-sizing: border-box;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;

    &:hover,
    &:active,
    &:focus {
        background-color: darken(#ffffff, 10%);
    }
}



textarea {
    min-height: 130px;
}

select {
    width: 100%;
    height: 2.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-image:
        linear-gradient(45deg, transparent 50%, #fff 50%),
        linear-gradient(135deg, #fff 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    border: 2px solid #ffffff;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #ffffff;
}

::placeholder {
    color: #ffffff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ffffff;
}

::-ms-input-placeholder {
    color: #ffffff;
}