// Footer

.footer {
    color: #ffffff;
    background-color: $secondary-color;
    ;
}

.footer-widgets {
    padding: 30px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            align-items: flex-start;

            .widget-column {
                &:nth-child(even) {
                    grid-column-start: 2;
                    grid-column-end: 4;

                    .gallery {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    .widget {
        padding: 15px 0;
    }

    // Change Gallery Widget to display in a grid on phones
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

        .gallery-item {
            width: auto !important;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;

            .gallery-item {
                margin: 15px !important;
            }
        }
    }
}

.footer-copyright {
    font-size: 12px;
    text-transform: uppercase;
    background-color: darken($secondary-color, 2%);

    a {
        font-weight: bold;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            color: inherit;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            justify-content: space-between;
        }
    }
}

.footer-menu {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        display: flex;
    }

    .menu-item:not(:first-child) {
        padding-left: 16px;
    }
}