// Header

#header {
    position: relative;

    .header-inner {
        display: flex;
        min-height: 230px;
        background: center center no-repeat;
        background-size: cover;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            min-height: 430px;
        }

        .container {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
        }

        .header-title {
            padding: 0 15px;
            font-size: 32px;
            text-align: right;
            text-transform: uppercase;

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                font-size: 40px;
            }
        }
    }
}