// Colored Columns

.is-style-green-column,
.is-style-cinnabar-column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #ffffff;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        margin-bottom: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transform: translateY(-50%) skewY(-3deg);
    }
}

.is-style-green-column {

    &,
    &::before {
        background-color: #1a4723;
    }
}

.is-style-cinnabar-column {

    &,
    &::before {
        background-color: #ef3e37;
    }
}