// WP Block Columns

.wp-block-columns {

    // Remove margin on editor
    .block-editor-inner-blocks {
        &>.block-editor-block-list__layout {
            &>[data-type="core/column"] {
                &:not(:first-child) {
                    margin-left: 0;
                }
            }
        }
    }
}