// Ultimate Block - Tabs

.wp-block-ub-tabbed-content {
    margin-top: 0;
    margin-bottom: 0;
}

.wp-block-ub-tabbed-content-tabs-title {
    background-color: #1a4723;
}

.wp-block-ub-tabbed-content-tab-title-wrap {
    position: relative;
    margin-right: 0;
    border: none;
    border-radius: 0;
    color: #ffffff !important;
    background-color: #1a4723 !important;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        width: 2px;
        height: 50%;
        background-color: #ffffff;
        transform: translateY(-50%);
    }

    &.active {
        .wp-block-ub-tabbed-content-tab-title {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: #ef3e37;
            }
        }
    }
}

.wp-block-ub-tabbed-content-tab-title {
    font-weight: bold;
    text-transform: uppercase;
}

.wp-block-ub-tabbed-content-tabs-content {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.wp-block-ub-tabbed-content-tab-content-wrap {
    border: none !important;
}