// Single

.single {
    main.container {
        display: grid;
        grid-gap: 15px;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto-fit, min(320px));
        }
    }

    .wp-post-image {
        align-self: center;
        justify-self: center;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }

    .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }


    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        article {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        .post-navigation,
        .comments {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }


}