/* Gutenberg Block Editor Styles */
body {
  font-family: "Gotham", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.editor-post-title__block .editor-post-title__input {
  font-family: "Gotham", sans-serif;
}

.wp-block {
  max-width: 1140px;
}

.wp-block[data-align=wide] {
  max-width: 1360px;
}

.wp-block[data-align=full] {
  max-width: none;
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-columns .block-editor-inner-blocks > .block-editor-block-list__layout > [data-type="core/column"]:not(:first-child) {
  margin-left: 0;
}

.wp-block-column {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-right: 0 !important;
  margin-bottom: 15px;
  margin-left: 0 !important;
}

.wp-block-quote {
  border-color: #fff;
}

.wp-block-shortcode textarea {
  color: #000;
  width: 100%;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-image {
  margin-bottom: 0;
}
.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wp-block-ub-tabbed-content {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-ub-tabbed-content-tabs-title {
  background-color: #1a4723;
}

.wp-block-ub-tabbed-content-tab-title-wrap {
  position: relative;
  margin-right: 0;
  border: none;
  border-radius: 0;
  color: #ffffff !important;
  background-color: #1a4723 !important;
}
.wp-block-ub-tabbed-content-tab-title-wrap::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  width: 2px;
  height: 50%;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.wp-block-ub-tabbed-content-tab-title-wrap.active .wp-block-ub-tabbed-content-tab-title {
  position: relative;
}
.wp-block-ub-tabbed-content-tab-title-wrap.active .wp-block-ub-tabbed-content-tab-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ef3e37;
}

.wp-block-ub-tabbed-content-tab-title {
  font-weight: bold;
  text-transform: uppercase;
}

.wp-block-ub-tabbed-content-tabs-content {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.wp-block-ub-tabbed-content-tab-content-wrap {
  border: none !important;
}

.is-style-cover-overflow-top {
  overflow: unset;
}
.is-style-cover-overflow-top .wp-block-cover__inner-container {
  margin-top: -10px;
}

.is-style-min-height-none {
  min-height: unset;
}

.is-style-vertical-text {
  display: block;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%);
  white-space: nowrap;
}

@media (max-width: 576px) {
  .is-style-mobile-two-columns .wp-block-column {
    flex-basis: 50% !important;
  }
}

.is-style-green-column,
.is-style-cinnabar-column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #ffffff;
}
@media (min-width: 992px) {
  .is-style-green-column,
.is-style-cinnabar-column {
    margin-bottom: 0;
  }
}
.is-style-green-column::before,
.is-style-cinnabar-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transform: translateY(-50%) skewY(-3deg);
}

.is-style-green-column, .is-style-green-column::before {
  background-color: #1a4723;
}

.is-style-cinnabar-column, .is-style-cinnabar-column::before {
  background-color: #ef3e37;
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-pear-color {
  color: #d7df21 !important;
}

.has-pear-background-color {
  background-color: #d7df21 !important;
}

.has-dark-pastel-green-color {
  color: #58ba47 !important;
}

.has-dark-pastel-green-background-color {
  background-color: #58ba47 !important;
}

.has-forest-green-traditional-color {
  color: #1a4723 !important;
}

.has-forest-green-traditional-background-color {
  background-color: #1a4723 !important;
}

.has-cinnabar-color {
  color: #ef3e37 !important;
}

.has-cinnabar-background-color {
  background-color: #ef3e37 !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

/*# sourceMappingURL=shared-styles.css.map */
