@font-face {
  font-family: "Gotham";
  src: url("../../fonts/GothamThin.woff2") format("woff2"), url("../../fonts/GothamThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/GothamThin-Italic.woff2") format("woff2"), url("../../fonts/GothamThin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/Gotham-Book.woff2") format("woff2"), url("../../fonts/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/Gotham-BookItalic.woff2") format("woff2"), url("../../fonts/Gotham-BookItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/Gotham-Medium.woff2") format("woff2"), url("../../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/GothamMedium-Italic.woff2") format("woff2"), url("../../fonts/GothamMedium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/Gotham-Bold.woff2") format("woff2"), url("../../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/GothamBold-Italic.woff2") format("woff2"), url("../../fonts/GothamBold-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/Gotham-Black.woff2") format("woff2"), url("../../fonts/Gotham-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../../fonts/GothamBlack-Italic.woff2") format("woff2"), url("../../fonts/GothamBlack-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/*# sourceMappingURL=webfont.css.map */
